/*index*/
body 
{
    background-color: #F6ECFD;
    width: auto;
    height: auto;
}

.header
{
    text-decoration: none;
    color: black;
    text-align: right;
    display: flex;
    justify-content: space-between;
    background-color: #D1C4E9;
}

.nav-link
{
    color: black;
}

#space-h
{
    margin: 1em;
}

#footer
{
    text-align: right;
    display: flex;
    justify-content: space-between;
    background-color: #B39DDB;
    padding: 1em;
}

.footer-link
{
    text-decoration: none;
    color: black; 
}

#camera
{
    margin: 2em;
}

.product-border /*produit, panier*/
{
    border: 1px solid black;
    box-shadow: 10px 5px 5px grey;
    background-color:#D1C4E9;
}
/*produit*/


/*panier*/


/*commande*/

