/*index*/
body 
{
    background-color: #F6ECFD;
    padding-bottom: 56px;
}

.header
{
    background-color: #D1C4E9;
}


#footer
{
    background-color: #B39DDB; 
}

#camera
{
    font-size: 30px;
}

#space-h
{
    font-size: 25px;
}

/*produit, panier*/
.product-border 
{
    box-shadow: 10px 5px 5px grey;
    background-color:#D1C4E9;
}

/*panier*/
.basket-title
{
    font-size: 20px;
    text-decoration: underline;
}

#total-price
{
    font-size: 20px;
    text-decoration: underline;
}

/*confirmation*/
.confirmation-title
{
    font-size: 25px;
}
