body {
    background-color: #F6ECFD;
    width: auto;
    height: auto;
}



.header
{
    text-decoration: none;
    color: black;
    text-align: right;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.basket
{
    margin: 1em;
    text-decoration: none;
    color: black;
}

